
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <style type="text/css">
        .avatar{
          height: 40px;
          width: 40px;
        }
      </style>>
       <ul class="nav navbar-nav navbar-left">
        <li <%if(active =="首页"){%> class = active <%}%>><a href="#">班级说说 <span class="sr-only">(current)</span></a></li>
        <li <%if(active =="全部说说"){%> class = active <%}%>><a href="#">全部说说</a></li>
        <li <%if(active =="我的说说"){%> class = active <%}%>><a href="/showUser/<%=username%>">我的说说</a></li>
        <li <%if(active =="我的说说"){%> class = active <%}%>><a href="/userlist">成员列表</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
  
      <ul class="nav navbar-nav navbar-right">
        <%if(!login){%>
         <li><a href="/showlogin">登录</a></li>
        <li><a href="/regist" id="showRegist">注册</a></li>
        <%}else{%>
        <li><a href="#">欢迎您,<%= username%></a></li>
        <li><a href="#"><img class="avatar" src="/avatar/<%= avatar %>"/></a></li>
        <li><a href="#" id="setting">设置</a></li>
        <%}%>
       
      </ul>
    </nav>